{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}

    <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'perfil/css/gerenciar.css' %}" rel="stylesheet">

{% endblock %}

{% block 'body' %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            {% if messages %}
                {% for message in messages %}
                    <div class='alert {{ message.tags }}'> {{message}} </div>
                {% endfor %}
            {% endif %}
            <div class="col-md-5">
                <p class="fonte-destaque">Suas contas</p>
                <hr>
                
                {% if not contas%}
                    <div class="alert alert-danger" role="alert">
                        Nenhuma conta foi encontrada
                    </div>
                {% else %}
                {% for conta in contas %}
                <div class="contas">
                        <div class="lista-contas-main">
                            <span><img width="10%" src=" {% if conta.icone %} {{ conta.icone.url }} {% endif %}"> {{ conta.banco }}</span>

                            <span class="total-conta positivo ">{{ conta.valor }}<a href="{% url 'remover_banco' conta.id %}"><img src="{% static 'perfil/img/exit.png' %}"></a></span>
                        </div>                   
                </div>
                <hr>
                {% endfor %}
                <span class="fonte-destaque">Total:</span>
                <span class="positivo total-conta font-destaque">R$ {{total}}</span>
                {% endif %}
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-5">
                <p class="fonte-destaque">Nova conta</p>
                
                <form action="{% url 'cadastrar_banco' %}" method="POST" enctype='multipart/form-data'> {% csrf_token %}
                    <label>Apelido</label>
                    <input type="text" name="apelido" class="form-control" placeholder="">
                    <br>
                    <label>Banco</label>
                    <select name="banco" class="form-select">
                        {% comment %} {% for banco in contas. %}
                        {% endfor %} {% endcomment %}
                        <option value="NU">Nubank</option> 

                    </select>
                    <br>
                    <label>Tipo</label>
                    <select name="tipo" class="form-select">
                        <option value="pf">Pessoa física</option>
                        <option value="pj">Pessoa jurídica</option>
                    </select>
                    <br>
                    <label>Valor</label>
                    <input type="number" name="valor" class="form-control" placeholder="">
                    <br>
                    <input type="file" placeholder="Ícone" name="icone" required>
                    <br>
                    <br>
                    <input style="width: 100%" type="submit" class="botao-principal">
                </form>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-5">
                <span class="fonte-destaque">Nova categoria</span>

                <form action="{% url 'cadastrar_categoria'%}" method="POST"> {% csrf_token %}
                    <label>Categoria</label>
                    <input type="text" name="categoria" class="form-control" placeholder="Nome da categoria">
                    <br>

                    <input type="number" name="valor_planejamento" class="form-control" placeholder="Valor planejamento">
                    <br>

                    <input type="checkbox" name="essencial" value="essencial"><label class="positivo">&nbspEssencial</label>
                    <br>
                    <br>
                    <input style="width: 100%" type="submit" class="botao-principal" value="Adicionar">
                </form>
            </div>

            <div class="col-md-2">
            </div>

            <div class="col-md-5">
                <span class="fonte-destaque">Suas categorias</span>
                <br>
                {% if not categorias %}
                    <br>
                    <div class="alert alert-danger" role="alert">
                        Nenhuma categoria foi encontrada
                    </div>
                {% else %}
                    <hr>
                    {% for categoria in categorias %}
                    <div class="contas">
                        <div class="lista-contas-main">
                            <span>{{ categoria.categoria }} 
                                {% if not categoria.essencial %}
                                    <a href="{% url 'update_categoria' categoria.id %}"><img src="{% static 'perfil/img/exit.png' %}"></a>
                                {% else %}
                                    <a href="{% url 'update_categoria' categoria.id %}"><img src="{% static 'perfil/img/check.png' %}"></a>
                                {% endif %}
                            </span>

                            <span class="total-conta positivo ">
                                <a href="{% url 'deletar_categoria' categoria.id %}">
                                    <img src="{% static 'perfil/img/delete.png' %}" style="width:20px">
                                </a>
                            </span>
                        </div>                   
                    </div>
                    <hr>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}